.about-top{
    background-image: url('https://static.pullandbear.net/2/photos//2022/I/0/2/p/8246/580/800/02/8246580800_6_1_8.jpg?t=1657544230405&imwidth=750');
    padding: 5rem 0;
    background-position: center;
    background-size: cover;
}
.about-top .title{
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #fff !important;
}
.about .about-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #333;
}
.about p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7857;
    color: #888;
}
.about .img1{
    margin-top: 130px;
}
.about .img2{
    margin-left: 120px;
}

@media (max-width: 576px) {
    .about .img2{
        margin-left: 0 !important;
        margin-top: 70px !important;
        margin-bottom: 30px !important;
    }
    .about .container{
        margin: 0 !important;
        padding: 0 !important;
    }
    .about .bottom{
        padding: 0 2rem;
    }
    .about .top{
        padding: 0 2rem;
    }
}