.homeslider .pictureText{
    position: absolute;
    top: 160px;
    left: 200px;
}
.homeslider .img{
    position: relative;
    height: 90vh !important;
    object-fit: cover !important;
}
.homeslider .icon {
    background-color: grey;
    color: black;
    border-radius: 50%;
}
.homeslider .span{
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: black;
}
.homeslider .h2{
    font-weight: 800;
    font-size: 60px;
    color: black;
    margin-bottom: 40px;
    margin-top: 25px;
    font-weight: bold;
}
.homeslider a{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: black;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: #B9795F;
    text-decoration: none;
    transition: .3s;
}
.homeslider a:hover{
    background-color: #fff;
    color: #333333;
}
@media (max-width: 576px) {
    .homeslider .pictureText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    .homeslider .span{
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #333333;
    }
    .homeslider .h2{
        font-weight: 800;
        font-size: 20px;
        color: #333333;
        margin-bottom: 40px;
        margin-top: 25px;
    }
    .homeslider .imgs img{
        object-fit: cover !important;
        position: relative !important;
        height: 50vh !important;
    }
    
}

@media(max-width : 992px) and (min-width:576px) {
    .homeslider .imgs img{
        object-fit: cover !important;
        height: 50vh !important;
    }
    .homeslider .span{
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #333333;
    }
    .homeslider .h2{
        font-weight: 800;
        font-size: 20px;
        color: #333333;
        margin-bottom: 40px;
        margin-top: 25px;
    }
}