.timers{
    background-color: #fff;
    padding: 30px;
}


.timers .countdown{
    display: flex ;
    justify-content: space-around;
    text-align: center;
}

.timers .img1{
    height: 70vh;
    width: 550px;
    object-fit: cover;
}
 

.timers .time{
    padding: 20px 40px;
}

.timers .right{
    text-align: center;
    margin-top: 100px;
}
.timers .h5{
    margin-bottom: 50px;
    font-weight: bold;
    color: #272729ab;
    font-size: 30px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.timers .timer{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 6px;
    cursor: pointer;
}
.timers .allcount{
    border: 1px solid #00000059;
    padding: 6px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 140px;
}
.timers .allcount .dys{
    margin-left: 22px;
    cursor: pointer;
}
.timers .allcount .hrs{
    margin-left: 15px;
    text-align: left;
    cursor: pointer;
}
.timers .allcount .mnt{
    margin-left: 15px;
    cursor: pointer;
}
.timers .allcount .scd{
    margin-left: 15px;
    cursor: pointer;
}

.timers .right{
    position: relative;
    width: 550px;
    height: 70vh;
    background-color: #fff;
}

.timers .coming-soon{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.timers .h5{
    margin-bottom: -40px !important;
    font-weight: bold;
    color: #272729ab;
    font-size: 30px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clip-path: polygon(0 0,100% 0,100% 100%,50% 0,0 100%);
    transition: .5s;
}
.timers .h5t{
    margin-bottom: 50px;
    font-weight: bold;
    color: #272729ab;
    font-size: 30px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clip-path: polygon(0 100%,50% 0,100% 100%,100% 100%,0 100%);
    transition: .5s;
}
.timers .hll:hover .h5{
    transform: translateY(-10px);
    cursor: pointer;
}
.timers .hll:hover .h5t{
    transform: translateY(10px);
    cursor: pointer;
}

@media(max-width:576px){
    .timers .allcount{
        width: 300px;
        font-size: 13px;
    }
    .timers .timer{
        font-size: 17px;
    }
    .timers .allcount .dys{
        margin-left: 10px;
    }
}

@media(max-width : 992px) and (min-width:576px){
    .timers{
        text-align: center;
    }
    .timers .right{
        text-align: center;
        margin: auto;
    }
    .timers .time{
        width: 400px;
    }
}