/* .timers{
    background-color: #F2F2F2;
    padding: 60px;
}
.timers .img1{
    object-fit: cover;
    width: 550px;
    height: 70vh;
}
.timers h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 3rem;
    text-align: center;
    color: #555555;
    font-family: monospace;

}
.timers .coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.timers .countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.timers .day, .hour, .minute, .second {
    font-size: 3rem;
}
.timers .waiting {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 300px;
}
.timers .time{
    padding: 20px 40px;
    margin-bottom: 250px;
    border: 1px solid grey;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.timers .timer{
    font-size: 20px !important;
}
.timers .time span{
    font-size: 50px;
    color: #555555;
}
.timers .right{
    width: 550px;
    height: 70vh;
}

@media (max-width: 576px) {
    .timers .time{
        width: 265px;
    }
}
@media(max-width : 992px) and (min-width:576px) {
    .timers{
        text-align: center;
    }
    .timers .right{
        text-align: center;
        margin: auto;
    }
} */

.timers{
    background-color: #fff;
    padding: 30px;
}


.timers .countdown{
    display: flex ;
    justify-content: space-around;
    text-align: center;
}

.timers .img1{
    height: 70vh;
    width: 550px;
    object-fit: cover;
}
 

.timers .time{
    padding: 20px 40px;
}

.timers .right{
    text-align: center;
    margin-top: 100px;
}
.timers .h5{
    margin-bottom: 50px;
    font-weight: bold;
    color: #272729ab;
    font-size: 30px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.timers .timer{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 6px;
}
.timers .allcount{
    border: 1px solid #00000059;
    padding: 6px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 140px;
}
.timers .allcount .dys{
    margin-left: 22px;
}
.timers .allcount .hrs{
    margin-left: 15px;
    text-align: left;
}
.timers .allcount .mnt{
    margin-left: 15px;
}
.timers .allcount .scd{
    margin-left: 15px;
}

.timers .right{
    position: relative;
    width: 550px;
    height: 70vh;
    background-color: #fff;
}

.timers .coming-soon{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media(max-width:576px){
    .timers .allcount{
        width: 300px;
        font-size: 13px;
    }
    .timers .timer{
        font-size: 17px;
    }
    .timers .allcount .dys{
        margin-left: 10px;
    }
}

@media(max-width : 992px) and (min-width:576px){
    .timers{
        text-align: center;
    }
    .timers .right{
        text-align: center;
        margin: auto;
    }
    .timers .time{
        width: 400px;
    }
}