.contactdetail {
    display: flex !important;
    margin-bottom: 50px;
}
.contactdetail table {
    margin-top: 40px;
}
.contactdetail .btn1{
    background-color: #Fff !important;
    color: #333;
}
.contactdetail .btn2{
    background-color: #333 !important;
    color: #fff;
} 
.contactdetail .btndel{
    margin-top: 50px;
}
.contactdetail .td{
    margin-top: 60px;
    font-size: 14px;
}



